{% extends "base.html" %}
{% from "_macros.html" import render_field with context %}

{% block title %} Filter {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card w-75" style="padding: 8px;">
            <div class="text-center">
                <h1> Create Post </h1>
            </div>
            <form method="POST" id="uploadForm" class="container" action="{{url_for('root')}}">
                {{ filterForm.hidden_tag() }}
        
                {{ render_field(filterForm.tags) }}
        
                <button class="btn btn-outline-dark" type="submit" name="filter">Go</button>
            </form>
            {% if success is defined %}
                <h2>Success!</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}