{% extends "base.html" %}
{% from "_macros.html" import render_field with context %}

{% block title %} Home {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
    <h1>A Favourite Hawker Food Sharing Platform Website </h1>
    <p> Hello! </p>
    {% for content in contents %}
    <div>
        <a href="{{url_for('post', url_title=content[0].url_title)}}">
            <img src="../static/images/posts/{{content[1]}}" class="rounded mx-auto d-block" width="400"/>
        </a>
        <h1>{{content[0].title}}</h1>
    </div>
    {% endfor %}
{% endblock %}